// LOGO

.logo {
  height: 3.25rem;
}

// SEARCH BAR

.search {
  &__input {
  }

  &__btn {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

// USER NAVIGATION

.user-nav {
  &__icon-box {
  }

  &__icon {
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
  }

  &__user-name {
  }
}
